/*estilos generales*/
* {
  margin: 5px;
  box-sizing: border-box; }

body {
  background-color: black;
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Press Start 2P', cursive; }

header {
  display: flex;
  justify-content: space-between; }
  header h1 {
    justify-content: start; }
  header #logo {
    width: 150px;
    height: 150px; }
  header .menu {
    text-align: right; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul .textDecoration {
      text-decoration: none; }
    header nav ul .listStyle {
      list-style: none; }

main p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 23px; }

footer {
  padding-top: 70px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center; }

/*--INDEX--*/
main #h2uno {
  text-decoration: underline;
  text-align: center;
  padding: 10px; }

main .contenidoCentral {
  text-align: center;
  color: #005700;
  background-image: url(../img/fodo-dissidia.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

main .indexMain {
  padding: 10px; }

/*--TIENDA--*/
main div .tiendaMain {
  display: flex;
  justify-content: space-around; }

main div div .productosSpace {
  padding-right: 40px; }

/*--EVENTOS--*/
main #mk-b {
  text-align: center; }

/*--COMUNIDAD--*/
main div .topCom {
  padding-top: 30px; }

main div #eventP {
  text-align: center; }

main div .mobileLogo {
  display: none; }

/*ATENCION AL CLIENTE*/
main #whatsapp {
  height: 60px;
  width: 60px;
  padding: 10px;
  position: relative;
  left: 1000px; }

/*media quarie general*/
@media screen and (max-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    header nav ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap; } }

/*media quarie home*/
@media screen and (max-width: 700px) {
  .contenidoCentral {
    background-image: none; }
  #h2uno {
    display: none; }
  .indexMain {
    text-decoration: underline; } }

/*media quarie A.al cliente*/
@media screen and (max-width: 700px) {
  #whatsapp {
    position: sticky; } }

/*media quarie comunidad*/
@media screen and (max-width: 700px) {
  .mobileLogo {
    display: inline; }
  .desktopLogo {
    display: none; } }
